{% extends 'mt/appBase.html' %}
{% block content %}
<h2 style="padding-left: 15Px">Request Information</h2>
<ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="{% url 'mt:home' %}">Dashboard</a></li>
   <li class="breadcrumb-item active">Requests Information</li>
</ol>
<table class="table table-striped table-bordered table-hover">
   <thead>
      <tr class="bg-info">
         <th>Requested Date</th>
         <th>Category</th>
         <th>Priority</th>
         <th>Description</th>
         <th>Access Instructions</th>
         <th>Permission to Enter</th>
         <th>Status</th>
         <th colspan="2">Actions</th>
      </tr>
   </thead>
   <tbody>
      {% for request in requests %}
      <tr>
         <td>{{ request.created_date }}</td>
         <td>{{ request.type }}</td>
         <td>{{ request.priority }}</td>
         <td>{{ request.desc }}</td>
         <td>{{ request.accessInstructions }}</td>
         <td>{{ request.perToEnter }}</td>
         <td>{{ request.status }}</td>
         <td><a href="{% url 'mt:request_edit' pk=request.pk %}" class="btn btn-warning">Edit</a>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}